.name {
  margin: 0;
  font-family: helvetica,Arial,Sans-Serif;
  color: white;
}
@media (min-width:800px){
  .main-body-skill {
    margin: px;
  }
}
.skill-container {
  
}
@media (min-width:800px) {
  .skill-container {
    margin: 0 15px 0 15px;
    display: grid;
    grid-template-columns:1fr 1fr;
    column-gap:20px;
    row-gap:20px;
    
  }
}

.skill-caption {
  text-align:center;
  color:black;
} 
.front-container {
  background-color:#ddd;
  Max-width:100%;
  height:450px;
  padding:20px;
  margin:20px 0;
  display: grid;
}
@media (min-width:800px) {
  .front-container {
    Max-width:100%;
    height: 500px;
  }
}
.front-end-intro {
  padding: 0;
  margin: 0;
}
 
.seo-container {
  background-color:#ddd;
  height:450px;
  max-width:100%;
  padding:20px;
  margin:20px 0;
} 
@media (min-width:800px) {
  .seo-container {
    Max-width:92%;
    height:500px;
  }
}
@media (min-width:800px){
.intro-subject {
  font-size:3vw;
}
}

.seo-intro {
  margin-top:15px;
}
@media (min-width:800px) {
  .seo-intro {
    margin-top:33px;
  }
}
.intro-subject {
  margin: 0;
  padding: 0;
}
.image-container {
  text-align: center;
  margin: 0 auto 0 auto;
  margin-bottom:13px ;
}
.back-end-container {
  background-color:#ddd;
  max-width:100%;
  height:450px;
  padding:20px;
  margin:20px 0;
} 
@media (min-width:800px) {
 .back-end-container {
   height:550px;
   margin: 0 12px 0 12px;
 }
}
/* footer start */
 